.container_12
{
	background-color:#FBF5E6;
}

.container_12 h2{
	text-align:center;
	font-size:30px;
	background-color:#C1FFC1;
	margin-bottom:10px;
	font-family:sans-serif;
}
	
.grid_3{
	margin-left:20px;
}

.grid_3 ul input{
	width: 200px;
}

form li{
	list-style: none;
	margin-bottom:20px;
}
form ul{
	padding-left:10px;
	background-color:#EEF3E2;

}
label{
	display : inline;
}

.grid_6 li{
	list-style: none;
}

.grid_6 > .chat_container > .s_person p{
	color:red;
}

/*
.shown_message textarea {
	width:460px;
	height:450px;
}

.send_message textarea {
	margin:10 0 0 0;
	width:460px;
	height:100px;
}
*/

.chat_container{
	width:460px;
	height:500px;
	border:2px solid #ddd;
}

.chat_container > .chat_messages{
	height:400px;
	border-bottom: 1px solid #ddd;
	overflow-y:scroll;
}

.chat_container > .chat_bottom form input[type="text"]{
	width:90%;
	padding:3px;
	padding-left:10px;
	border:1px solid #ddd;
	border-radius:5px;
	margin:0px;
	height:50px;
}
/*
.side_bar textarea {
	width:250px;
	background-color:blue;
	height:50px;
}

.people textarea {
	width:250px;
	background-color:blue;
	height:350px;
}
*/
